{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>SUBL'IMMO</h1>
        <h2>L'agence immobilière 100 % en ligne</h2>
    </header>

    <main class="container-fluid p-5">

        <div class="row">
            <div class="col-12">
                <h2>Les logements</h2>
            </div>
        </div>

        <div class="row">
            {% for maison in maisons %}
                {# {% if loop.index <= 6 %} #}
                    <div class="col-4 p-3">
                        <div class="card">
                            <img src="{{ asset('img/maison/' ~ maison.img1) }}" class="card-img-top" alt="photo principale de {{ maison.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ maison.title }}</h5>
                                <p class="card-text">{{ maison.description|u.truncate(90, '...', false) }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Surface : {{ maison.surface }} m<sup>2</sup></li>
                                <li class="list-group-item">Pièces : {{ maison.rooms }} dont {{ maison.bedrooms }} chambre(s)</li>
                                <li class="list-group-item">Prix : {{ maison.price|number_format(0, ',', ' ') }} €</li>
                            </ul>
                            <div class="card-body text-center">
                                <a href="{{ path('maison', {'id': maison.id}) }}" class="btn btn-secondary">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {# {% endif %} #}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 text-center pt-5">
                <a href="{{ path('maisons') }}" class="btn btn-secondary">Voir tout</a>
            </div>
        </div>

    </main>

{% endblock %}